
body{
    margin:0;
    font-family:'Inter',sans-serif;
    background:#efefef;
}

/*  Navbar */
nav{
    width:fit-content;
    margin:30px auto;
    background:#fff;
    padding:10px 40px;
    border-radius:40px;
    border:1px solid #ccc;
}

nav a{
    margin:0 20px;
    text-decoration:none;
    color:#000;
    font-weight:500;
}

/*  Layout */
.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    padding:40px 8%;
}

/*  Text Card */
.text-box{
    background:#fff;
    padding:30px;
    border-radius:25px;
    border:1px solid #ccc;
    max-width:400px;
}

/*  Sub Text */
.sub-text{
    margin-top:25px;
    max-width:400px;
}

.sub-text h3{
    letter-spacing:2px;
    font-size:14px;
}

/*  Images */
.right{
    position:relative;
    display:flex;
    justify-content:center;
}

.image-main{
    width:100%;
    max-width:350px;
    border-radius:20px;
}

.image-top{
    position:absolute;
    right:60px;
    top:100px;
    width:170px;
    border-radius:20px;
}

.image-bottom{
    position:absolute;
    left:60px;
    bottom:40px;
    width:240px;
    border-radius:30px;
}

/*  Circle */
.circle{
    position:absolute;
    bottom:0;
    right:40px;
    width:120px;
    height:120px;
    border:1px solid #000;
    border-radius:50%;
}

/*  Side Text */
.side-text{
    position:absolute;
    right:-160px;
    top:250px;
    font-size:13px;
    letter-spacing:2px;
}

/*  Animation */
.fade{
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

/*  Responsive */
@media(max-width:900px){
    .container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .right{
        margin-top:50px;
    }

    .image-top,.image-bottom,.circle,.side-text{
        display:none;
    }

    .text-box{
        margin:auto;
    }
}
